@import url("https://fonts.googleapis.com/css2?family=mulish:wght@400;500;600;700&family=open-sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Open Sans", system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-heading: "Mulish", system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
